<% include partials/header %>


<h1 id="h01" title="A web app for something"> WELCOME</h1>


<a href="https://www.w3schools.com" target="_blank">This is a link that opens a new window/tab</a>
<a href="https://www.w3schools.com" target="_top"> This will change the page you are on</a>
<hr>

<img src="images/background.jpg" alt="Background is unavailable" >

<hr>
<h1>The image below is a link</h1>

<a href="https://www.pornhub.com" target="_top">
    <img src="images/background.jpg" alt="error" style="width:42px;height:42px;border:0;">
  </a>

<% include partials/footer %>