<% include partials/header %>


<h1 title="A web app for something"> WELCOME</h1>


<a href="https://www.w3schools.com">This is a link</a>

<hr>

<img src="background.jpg" alt="Background is unavailable" >

<% include partials/footer %>